# macOS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Streamlit cache
.streamlit/

# Backend runtime data
pcb-defect-backend/uploads/

# Backend cache
pcb-defect-backend/__pycache__/
